.link {
  background: none;
  border: none;
  color: var(--color-brand);
  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  text-align: start;
  text-decoration: none;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link:hover {
  text-decoration: underline;
}

.linkFocused {
  font-weight: 700;
  color: var(--blue-700);
}
